name: Build

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      actions: read
      contents: read
      id-token: write
    steps:
      # Get the repository's code
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.0
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Docker meta
        id: daemon # you'll use this in the next step
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/azure/kube-egress-gateway-daemon
          tags: |
            type=semver,pattern={{raw}}
          bake-target: daemon-tags
      - name: Docker meta
        id: daemoninit # you'll use this in the next step
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/azure/kube-egress-gateway-daemon-init
          tags: |
            type=semver,pattern={{raw}}
          bake-target: daemoninit-tags
      - name: Docker meta
        id: controller # you'll use this in the next step
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/azure/kube-egress-gateway-controller
          tags: |
            type=semver,pattern={{raw}}
          bake-target: controller-tags
      - name: Docker meta
        id: cnimanager # you'll use this in the next step
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/azure/kube-egress-gateway-cnimanager
          tags: |
            type=semver,pattern={{raw}}
          bake-target: cnimanager-tags
      - name: Docker meta
        id: cniplugin # you'll use this in the next step
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/azure/kube-egress-gateway-cni
          tags: |
            type=semver,pattern={{raw}}
          bake-target: cni-tags
      - name: Docker meta
        id: cniipamplugin # you'll use this in the next step
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/azure/kube-egress-gateway-cni-ipam
          tags: |
            type=semver,pattern={{raw}}
          bake-target: cni-ipam-tags
      - name: Set platform env for pr build
        run: |
          echo "TARGET_PLATFORMS=linux/amd64,linux/arm64,linux/arm" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
        env:
          PLATFORMS: ${{env.TARGET_PLATFORMS}}
        with:
          push: false
          files: |
            docker/docker-bake.hcl
            cwd://${{ steps.daemon.outputs.bake-file }}
            cwd://${{ steps.daemoninit.outputs.bake-file }}
            cwd://${{ steps.controller.outputs.bake-file }}
            cwd://${{ steps.cnimanager.outputs.bake-file }}
            cwd://${{ steps.cniplugin.outputs.bake-file }}
            cwd://${{ steps.cniipamplugin.outputs.bake-file }}
