name: Build And Publish to MCR

# Controls when the workflow will run
on:
  push:
    tags:
      - 'v*.*.*'

env:
  # `public` indicates images to MCR wil be publicly available, and will be removed in the final MCR images
  REGISTRY_REPO: public/aks

permissions:
  contents: read

jobs:
  build:
    runs-on:
      labels: [self-hosted, "1ES.Pool=1es-aks-kube-egress-gateway-pool-ubuntu"]
    permissions:
      packages: write
      actions: read
      contents: read
      id-token: write
    steps:
      # Get the repository's code
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.0
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login the ACR
        run: |
          az login --identity
          az acr login -n ${{ secrets.AZURE_REGISTRY }}
      - name: Docker meta
        id: daemon # you'll use this in the next step
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ secrets.AZURE_REGISTRY }}/${{ env.REGISTRY_REPO }}/kube-egress-gateway-daemon
          tags: |
            type=semver,pattern={{raw}}
          bake-target: daemon-tags
      - name: Docker meta
        id: daemoninit # you'll use this in the next step
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ secrets.AZURE_REGISTRY }}/${{ env.REGISTRY_REPO }}/kube-egress-gateway-daemon-init
          tags: |
            type=semver,pattern={{raw}}
          bake-target: daemoninit-tags
      - name: Docker meta
        id: controller # you'll use this in the next step
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ secrets.AZURE_REGISTRY }}/${{ env.REGISTRY_REPO }}/kube-egress-gateway-controller
          tags: |
            type=semver,pattern={{raw}}
          bake-target: controller-tags
      - name: Docker meta
        id: cnimanager # you'll use this in the next step
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ secrets.AZURE_REGISTRY }}/${{ env.REGISTRY_REPO }}/kube-egress-gateway-cnimanager
          tags: |
            type=semver,pattern={{raw}}
          bake-target: cnimanager-tags
      - name: Docker meta
        id: cniplugin # you'll use this in the next step
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ secrets.AZURE_REGISTRY }}/${{ env.REGISTRY_REPO }}/kube-egress-gateway-cni
          tags: |
            type=semver,pattern={{raw}}
          bake-target: cni-tags
      - name: Docker meta
        id: cniipamplugin # you'll use this in the next step
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ secrets.AZURE_REGISTRY }}/${{ env.REGISTRY_REPO }}/kube-egress-gateway-cni-ipam
          tags: |
            type=semver,pattern={{raw}}
          bake-target: cni-ipam-tags
      - name: Set platform env for release
        run: |
          echo "TARGET_PLATFORMS=linux/amd64,linux/arm64,linux/arm" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/bake-action@3acf805d94d93a86cce4ca44798a76464a75b88c # v6.9.0
        env:
          PLATFORMS: ${{env.TARGET_PLATFORMS}}
        with:
          push: true
          files: |
            docker/docker-bake.hcl
            cwd://${{ steps.daemon.outputs.bake-file }}
            cwd://${{ steps.daemoninit.outputs.bake-file }}
            cwd://${{ steps.controller.outputs.bake-file }}
            cwd://${{ steps.cnimanager.outputs.bake-file }}
            cwd://${{ steps.cniplugin.outputs.bake-file }}
            cwd://${{ steps.cniipamplugin.outputs.bake-file }}

