name: Trivy scanner

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'main'
  schedule:
    - cron: '35 12 * * 4'
permissions:
  contents: read
jobs:
  build:
    permissions:
      contents: write 
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.0
      - name: Set up Go 1.x
        uses: actions/setup-go@c0137caad775660c0844396c52da96e560aba63d # v6.0.0
        with:
          go-version: '>=1.20'
          check-latest: true
        id: go
      - name: Build images
        run: |
          export IMAGE_TAG=${{ github.sha }}
          export OUTPUT_TYPE=docker
          make docker-build

      - name: Run Trivy scanner for controller
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # master
        if: success() || failure()
        with:
          image-ref: 'local/kube-egress-gateway-controller:${{ github.sha }}'
          format: 'sarif'
          ignore-unfixed: true
          output: 'trivy-kube-egress-gateway-controller-results.sarif'
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
          timeout: '5m0s'
        env:
          TRIVY_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-db 
          TRIVY_JAVA_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-java-db
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v3.29.5
        with:
          sarif_file: 'trivy-kube-egress-gateway-controller-results.sarif'
          category: kube-egress-gateway-controller-image
      - name: Run Trivy scanner for daemon
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # master
        if: success() || failure()
        with:
          image-ref: 'local/kube-egress-gateway-daemon:${{ github.sha }}'
          format: 'sarif'
          ignore-unfixed: true
          output: 'trivy-kube-egress-gateway-daemon-results.sarif'
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
          timeout: '5m0s'
        env:
          TRIVY_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-db 
          TRIVY_JAVA_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-java-db
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v3.29.5
        with:
          sarif_file: 'trivy-kube-egress-gateway-daemon-results.sarif'
          category: kube-egress-gateway-daemon-image
      - name: Run Trivy scanner for cnimanager
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # master
        if: success() || failure()
        with:
          image-ref: 'local/kube-egress-gateway-cnimanager:${{ github.sha }}'
          format: 'sarif'
          ignore-unfixed: true
          vuln-type: 'os,library'
          output: 'trivy-kube-egress-gateway-cnimanager-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
          timeout: '5m0s'
        env:
          TRIVY_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-db 
          TRIVY_JAVA_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-java-db
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v3.29.5
        with:
          sarif_file: 'trivy-kube-egress-gateway-cnimanager-results.sarif'
          category: kube-egress-gateway-cnimanager-image
      - name: Run Trivy scanner for cni
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # master
        if: success() || failure()
        with:
          image-ref: 'local/kube-egress-gateway-cni:${{ github.sha }}'
          format: 'sarif'
          ignore-unfixed: true
          vuln-type: 'os,library'
          output: 'trivy-kube-egress-gateway-cni-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
          timeout: '5m0s'
        env:
          TRIVY_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-db 
          TRIVY_JAVA_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-java-db
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v3.29.5
        with:
          sarif_file: 'trivy-kube-egress-gateway-cni-results.sarif'
          category: kube-egress-gateway-cni
      - name: Run Trivy scanner for cni-ipam
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # master
        if: success() || failure()
        with:
          image-ref: 'local/kube-egress-gateway-cni-ipam:${{ github.sha }}'
          format: 'sarif'
          ignore-unfixed: true
          vuln-type: 'os,library'
          output: 'trivy-kube-egress-gateway-cni-ipam-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
          timeout: '5m0s'
        env:
          TRIVY_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-db 
          TRIVY_JAVA_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-java-db
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v3.29.5
        with:
          sarif_file: 'trivy-kube-egress-gateway-cni-ipam-results.sarif'
          category: kube-egress-gateway-cni-ipam
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # master
        if: success() || failure()
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'github'
          output: 'dependency-results.sbom.json'
          scan-ref: '.'
          github-pat: ${{ secrets.GITHUB_TOKEN }}
          timeout: '5m0s'
        env:
          TRIVY_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-db 
          TRIVY_JAVA_DB_REPOSITORY: mcr.microsoft.com/mirror/ghcr/aquasecurity/trivy-java-db
